name: Build and Publish Docker Image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io

    steps:
      - name: Checkout code from Gitea
        run: |
          git clone https://${{ secrets.GITEA_USERNAME }}:${{ secrets.GITEA_PASSWORD }}@code.dbug.cloud/acme-assistant/LunaTV.git
        env:
          GITEA_USERNAME: ${{ secrets.GITEA_USERNAME }}
          GITEA_PASSWORD: ${{ secrets.GITEA_PASSWORD }}
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.USER }}
          password: ${{ secrets.PASSWORD }}

      - name: Extract version from package.json
        id: version
        run: |
          VERSION=$(jq -r '.version' package.json)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Version extracted: $VERSION"

      - name: Build å’Œ push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          provenance: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}
          platforms: linux/amd64,linux/arm64

      - uses: EndBug/add-and-commit@v9
        with:
          add: 'CHANGELOG.md'
          message: 'chore: sync CHANGELOG'
